@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&display=swap");
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}
nav{
     font-family: 'ubuntu' , sans-serif , ;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    height: 65px;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    background-color: black;
    border-radius: 50%;
    padding: 0 8px;
}

.brand
{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
